.place__info {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 484px;
  grid-template-rows: auto auto;
  row-gap:0;
}
@media screen and (max-width:1024px) {
  .place__info{
    max-width: 456px;
  }
}
@media screen and (max-width:1023px) {
  .place__info{
    max-width: 352px;
    margin-top: 48px;
  }
}

@media screen  and (max-width:690px){
    .place__info{
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      max-width: 288px;
      margin-left: 16px;
    }
}
