.place__paragraph {
  margin: 0;
  position: relative;
  font-family: 'Inter', "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin-bottom: 26px;
}
@media screen and (max-width:1023px) {
  .place__paragraph{
      margin-bottom: 25px;
      font-size: 16px;
  }
}
.place__paragraph:last-of-type{
  margin-bottom: 0;
}
