.place__image {
  grid-column: 1;
  grid-row: 2;
  margin: 0;
  position: relative;
  max-width: 460px;
  width: 100%;
}
@media screen and (max-width:768px){
  .place__image{
    margin-top: 48px;
    max-width: 340px;
  }
}
@media screen and (max-width:690px){
    .place__image{
      margin-top: 32px;
    }
}

