.intro {
  margin: 0 auto;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin-top: 92px;
  padding: 0 48px;
}

@media screen and (max-width:1024px) {
  .intro {
    max-width: 690px;
    padding-left: 48px;
    margin-left: 0;
  }
}

@media screen and (max-width:768px) {
  .intro {
    max-width: 720px;
    padding: 0 24px;
  }
}

@media screen and (max-width:690px) {
  .intro {
    max-width: 288px;
    padding: 0 16px;
    margin: 0 auto;
    margin-top:64px ;
  }
}
